.home{
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.home_header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    /* float: right; */
    
}
.home_header a{
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(0,0,0,0.87);
    font-size: 15px;
}
.home_header a:hover{
    text-decoration: underline;
}

.home_headerRight{
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
    
}


.appsicon{
    margin-right: 17px;
}
.home_body{
    flex: 1;
    display: flex;
    margin-top: 7%;
    flex-direction: column;
}

.home_body > img{
    object-fit: contain;
    height: 100px;
}
